@import "mixins.scss";

/* Page Styling */
.grid-body      { grid-area: grid-body; }
.page-title     { grid-area: page-title; text-align: center; margin-top: 1.5rem; }

/* Top Navigation */
.top-nav        { grid-area: top-nav; padding: 1rem; font-size: 1.1rem; }
.nav-home       { grid-area: nav-home; }
.nav-work       { grid-area: nav-work; padding: 0 1rem; }
.nav-contact    { grid-area: nav-contact; padding: 0 1rem; }
.active         { padding-bottom: .5rem; border-bottom: 4px solid $shadow-color; color: $accent-color; }   // Active Navigation Link
.active         { padding-bottom: .5rem; border-bottom: 4px solid lighten($accent-color, 35%); color: $accent-color; }   

/* Project Tiles */
/* Add new project tile here */
.tile-tmc       { grid-area: tile-tmc; @include project-tile(); }    // 04-06-2020: New
.tile-quicklit  { grid-area: tile-quicklit; @include project-tile(); }
.tile-wtw       { grid-area: tile-wtw; @include project-tile(); }
.project-img    { width: 70%; display: flex; margin: 0 auto; }
.btn-flat       { @include btn-flat(); &:hover { @include neumorphic-inverted(); } }

footer          { grid-area: footer; @include footer(); }


// Medium, Large, XL Devices (Default)
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    " top-nav "
    " grid-body "
    " footer "
}

.grid-body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-row-gap: 6rem;    // 04-06-2020: was 3rem
}

.top-nav {
    display: grid;
    padding: 2rem 4rem;
    grid-template-columns: auto 1fr auto auto; // 04-08-2020: was 2fr 8fr 1fr 1fr
    grid-template-areas: 
    " nav-home nav-home nav-work nav-contact "
}


// Overrides for Small to Large Mobile Devices
@media only screen and (max-width: 425px) {
    * { font-size: 0.98rem; }
    .grid-container { grid-row-gap: 0rem; }

    .grid-body {
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        padding: 0 1.5rem;
        padding: 0.5rem;
    }

    .top-nav {
        padding: .5rem;
        margin: 0rem;
        grid-template-columns: auto auto;
        grid-template-areas:
        " nav-home nav-home "
        " nav-work nav-contact ";
    }
    
    /* Navigation Buttons on mobile*/
    .nav-home, .nav-work, .nav-about, .nav-contact { text-align: center; padding: 0rem; }

    [class^=tile-] { @include project-tile-small(); text-align: center; padding: 1rem 0.5rem 4rem 0.5rem; margin: 10px; }

    footer { 
        display: grid;
        grid-template-areas:
        " footer-left footer-left footer-left " 
        " footer-right footer-right  footer-right ";
        text-align: center; 
        .footer-right { text-align: center; }
    }

    .project-img { width: 100%; }
    .grid-body {
        grid-template-columns: 1fr;
        grid-template-areas:
        /* [ Add a new project tile here ] */
        " page-title "
        " tile-tmc "
        " tile-quicklit "
        " tile-wtw ";
        .btn-flat {
            padding: 0.8em 1.2rem;
        }
    }
}

