@import "variables.scss";

@mixin home-grid-container() {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
}

@mixin page-title() {
    text-align: center; 
}

@mixin page-content() {
    border: 1px solid black;
}

@mixin active-nav() {
    padding-bottom: .25rem; 
    border-bottom: 2px solid $accent-color;
}

@mixin project-tile() {
    background: whitesmoke;
    border: 1px solid whitesmoke; 
    border-radius: 15px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
    padding: 2rem; 
    h5 {
        margin-bottom: 8px;
    }
    h2 {
        margin-top: 8px;
    }
    p {
        margin-bottom: 2rem;
    }
}

@mixin btn-flat() {
    text-decoration: none;
    font-weight: bold;
    color: $accent-color;
}

@mixin btn-link() {
    text-decoration: none;
    padding: .5rem 1rem;
    margin-top: 4rem;
    border-radius: 25px;
    border: 2px solid $accent-color;
    font-weight: bold;
    color: $accent-color;
}

@mixin footer() {
    font-weight: bold;
    padding: 2rem 4rem;
    
    a {
        font-weight: bold;
        color: $accent-color;
        text-decoration: none;
    }
}