/* Variables */

/* Fonts */
$font-stack: 'cronos-pro',  sans-serif;
$font-stack: 'roboto mono', sans-serif;
$font-secondary: 'nunito-sans', sans-serif;

/* Colors */
$text-color: #0f0f0f;   // 04-08-2020: was #2e2e2e
// $accent-color: rgb(98, 186, 208); 
$accent-color: darken(#62a8d0, 5%);
$subtitle-color: lighten($text-color, 50%);
$background-color: lighten($text-color, 90%);
$shadow-color: darken($background-color, 10%);
$highlight-color: lighten($background-color, 15%);
$hover-color: darken($accent-color, 5%);

/* Color Archive */
// $background-color: #E0E5EC;
// $accent-color:  royalblue;
// $highlight-color: rgba(255, 255, 255, 0.5);
