/* 

Contact Page 
-- Layout Overrides
----- Grid Body
----- Page Title

*/

@import "mixins.scss";

// Overrides for Small Mobile Devices
@media only screen and (max-width: 425px) {
    .grid-body {
        display: block;
        padding: 0;
    }
    .page-title {
        grid-template-columns: 1fr;
        grid-row-gap: 0rem;
        padding: 0 1.5rem;
        padding: 0;
        margin: 0;
    }
}