/* 

Home Page
- Add or rearrange tiles here

Note: Add project tiles twice, once for desktop and once for mobile.

*/
@import "variables.scss";

.page-title { grid-area: page-title; }
.tile-tmc { grid-area: tile-tmc; }
.tile-quicklit { grid-area: tile-quicklit; }
.tile-wtw { grid-area: tile-wtw; }

// Layout of Home Page
.grid-body {
    background-color:#E0E5EC;
    background-color: $background-color;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    /* [ Add a new project tile here ] */
    " . page-title . "
    " . tile-tmc . "
    " . tile-quicklit . "
    " . tile-wtw . "
}


//Overrides for tablets
@media only screen and (min-width: 426px) and (max-width: 769px) {
    .top-nav {
        grid-template-columns: auto auto auto auto;
        justify-items: center;
        text-align: center;
        .active {
            border: none;
        }
    }
    .grid-body {
        grid-template-columns: 2rem auto 2rem;
        grid-template-areas:
        " . page-title . "
        " . tile-tmc . "
        " . tile-quicklit . "
        " . tile-wtw . ";
        
    }
    footer {
        grid-template-columns: auto 0.1fr auto;
        grid-area: " footer-left . footer-right ";
    }
}

// Overrides for Small to Large Mobile Devices
@media only screen and (max-width: 425px) {
    .project-img { width: 100%; }
    .grid-body {
        grid-template-columns: auto;
        grid-template-areas:
        /* [ Add a new project tile here ] */
        " page-title "
        " tile-tmc "
        " tile-quicklit "
        " tile-wtw "
    }
    .top-nav {
        grid-template-columns: auto auto;
        justify-items: center;
    }
}