@import "layout.scss";
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Lora:400,700');

* {
    font-family: $font-stack;
    color: $text-color;
}

body {
    margin: 0;
    background-color: #fafaff;
}

[class^=nav-] a {
    text-decoration: none;
}

[class^=nav-] a:hover {
    color: $accent-color;
    cursor: pointer;
}